
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27,66%, 92%);
    --pale-orange: hsl(33,100%, 98%);
  }

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    background-color: var(--cream);
    height: 100vh;
    max-width: 500px;
    margin: 0 auto;
}

.balance__container, .chart__container {
  width: 90%;
  border-radius: 10px;
}

.balance__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--soft-red);
  padding: 20px;
  color: var(--pale-orange);
}

.balance__info {
  line-height: 1.5;
}
.chart__container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 24px;
  color: var(--dark-brown);
}

.spending__container {
  margin-top: 24px;
  margin-bottom: 12px;
} 

.spending-stat {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

#chart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px 0;
}

.bar {
  border-radius: 4px;
  width: 1.8rem;
}

.bar:hover {
  cursor: pointer;
  opacity: 0.5;
}

.bar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: flex-end;
  min-width: 0;
}

.price__tag {
  visibility: hidden;
  background-color: #000;
  font-size: 12px;
  color: var(--pale-orange);
  padding: 6px 6px;
  border-radius: 4px;
  margin-bottom: 4px;
  text-align: center;
}

@media screen and (min-width: 568px) {
  .bar {
    width: 2.5rem;
  }
}
  
}
